.card {
  background-color: #0f082241;
  border-radius: 5px;
  padding: 2%;
  border-color: transparent;
  height: fit-content;
}

.card button {
  width: 60%;
  border: 2px #fff solid;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
}

.card .field{
  width: fit-content;
  min-width: 35%;
}

.card button:hover {
  color: #fff;
}

.btn-check:active + .btn-outline-light:focus,
.btn-check:checked + .btn-outline-light:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus,
.btn-outline-light:active:focus,
.btn:focus {
  box-shadow: none;
}
.todo {
  background-color: transparent;
  border: 3px #fff;
  border-radius: 5px;
  border-style: solid;
  padding: 0;
}

.todo .btn{
  color: #fff;
  width: 100%;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.list-group-item {
  background: transparent;
  color: #fff;
  text-align: left;
  border-color: #fff;
}

.list-group-item:hover {
  background: rgba(162, 166, 177, 0.5);
  color: rgb(0, 0, 0);
  text-align: left;
}

.ml11 {
  font-weight: 400;
  font-size: 4rem;
  font-family: "Roboto Mono", monospace;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 5%;
}

@media screen and (max-width: 400px) {
  .ml11 {
    font-size: 3rem;
  }
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 70%;
  margin: 5% 0;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#hi{
  display: none;
}

@media screen and (min-width: 750px) {
  #hi {
    display: inline;
    position: sticky;
    width: 10%;
    bottom: 0;
    left: 95%;
    margin-right: 0;
    text-align: right;
  }
}



/* Admin Only */

.animate-charcter
{
  height: fit-content;
  margin: 3% auto;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgba(255, 255, 255, 0.75) 0%,
    rgb(133, 133, 133,0.75) 29%,
    rgba(116, 116, 116, 0.5) 67%,
    rgb(133, 133, 133,0.75) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 4rem;
}

.animate-charcter:hover{
  background: transparent;
  color: rgba(255, 255, 255, 0.507);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.507);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}