#avatar {
  width: 60%;
  border: 5px rgb(212, 155, 31) solid;
  border-radius: 100%;
  margin: auto;
  padding: 0;
}
#name {
  color: rgb(194, 194, 194);
  display: inline;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

#dept {
  color: rgb(194, 194, 194);
  display: inline;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
}

.card {
  background-color: rgba(192, 192, 192, 0.384);
  padding: 5% 7%;
  border-radius: 15px;
}

.card li i {
  color: #fff;
}

.btn-edit {
  width: max-content;
  position: relative;
  left: 90%;
  color: #fff;
}

.btn-edit:focus {
  box-shadow: none;
}

.btn-edit:hover {
  background-color: rgba(179, 179, 179, 0.527);
  color: #000;
}

#editForm {
  background-color: rgb(41, 41, 41, 0.3);
}


.modal-content{
    font-family: "Roboto Condensed", sans-serif;
}

.modal-content {
  background-color: rgba(200, 133, 255, 0.548);
}

.modal-content h5 {
  color: #fff;
}

.modal-content input,
.modal-content input:focus {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px #fff solid;
  color: #fff;
  box-shadow: none;
  caret-color: #fff;
}

.modal-footer button {
  color: #fff;
  background: none;
  border: 1px #fff solid;
  border-radius: 20px;
  box-shadow: none;
}

#btn-exit,
#btn-save,
#btn-close {
  box-shadow: none;
  color: #fff;
}

#btn-close:hover {
  color: rgb(211, 85, 85);
}

#btn-save:hover {
  background-color: rgba(112, 172, 147);
  border-color: rgba(112, 172, 147);
  color: #fff;
}

#btn-exit:hover {
  border-color: rgb(211, 85, 85);
  color: #fff;
  background-color: rgb(211, 85, 85);
}

.modal-content label {
  color: #fff;
}

.card ul {
  background-color: rgba(61, 61, 61, 0.247);
  width: 50%;
  min-width: 150px;
  margin: auto;
  border-radius: 25px;
}

#image-edit {
  position: relative;
  bottom: 125px;
  color: #ffffff;
  font-size: 1.5rem;
  margin: auto;
  visibility: hidden;
  box-shadow: none;
}

@media screen and (min-width: 770px) and (max-width: 1000px) {
  #image-edit {
    bottom: 80px;
  }
}

@media screen and (max-width: 370px) {
  #image-edit {
    bottom: 80px;
  }
}

#avatar {
  --blur: 0px;
  --bw: 0%;
  filter: blur(var(--blur)) grayscale(calc(var(--bw)));
  -webkit-filter: blur(var(--blur)) grayscale(calc(var(--bw)));
}

#avatar:hover {
  --blur: 3px;
  --bw: 70%;
}

.blur {
  --blur: 3px !important;
  --bw: 70% !important;
}

#image-edit:hover {
  visibility: visible;
}

#avatar:hover ~ #image-edit {
  visibility: visible;
}

.img-option {
  padding: 1%;
  /* margin: 1px; */
}

.fa-github:hover {
  color: #171515;
}

.fa-code:hover {
  color: rgb(65, 255, 65);
}

#details {
  padding: 0;
  padding-top: 6%;
  padding-bottom: 3%;
}

#details tr {
  font-family: "Roboto Mono", monospace;
  line-height: 55px;
}

#details tr:hover {
  background-color: #20202050;
  color: #fff;
}

th {
  border-right: 1px solid;
}

/* 
font-family: "Roboto Mono", monospace;
font-family: "Roboto Condensed", sans-serif;
font-family: "Roboto", sans-serif;



*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: none;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px none;
  transition: background-color 5000s ease-in-out 0s;
}
